<!DOCTYPE html>

<html>
	<head>
		<title>
			Ryze
		</title>
	</head>
	<body>
		<div class="content" id="main">
			<center>
				<div style="height:233px;margin-top:89px" id="lgo">
					<style>
						#logo{height:345px;outline:none;position:relative;
						width:432px;}
						#logo-c{background-image:url(../../static/images/logo.jpeg);
						background-size:contain;height:100%;width:100%}
					</style>
					<div id="logo" title="Search Engine Logo">
						<canvas id="logo-c" width="432" height="345" style="background:
						transperent;">
					</div>
				</div>
				<div style="height:118px"></div>
			</center>		 
		</div>
	</body>
</html>