{% extends 'ryze/base.html' %}

{% block title_block %}
	Ryze Search
{% endblock %}

{% block body_block %}
	<h2>
	{% if user.is_authenticated %}
		Hi, {{user.username}}!
	{% endif %}
	</h2>
	<div id="logo" title="Search Engine Logo">
		<canvas id="logo-c" width="432" height="345">
	</div>
	<div id="searchform">
		<form action="{% url 'search' %}" style="overflow:visible" id="form" method="post"
			role="search">
			{% csrf_token %}
			<div class="form-group">
				<input class="form-control" type="text" size="50"
						name="query" value="" id="query" required />
			</div>
			<!-- Two buttons, each for the respective search, pressing Enter will execute 
			the normal search -->
			<button class="btn" type="submit" name="submit"
 				 	 value="Search">Search</button>
			<button class="btn" type="submit" name="submit" formaction="{% url 'image-search' %}"
 				 	 value="Search">Image Search</button>		
		</form>		
	</div>
{% endblock %}