<!DOCTYPE html>

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../static/images/stylesheet.css" />
		<title>
		Ryze Search
		</title>
	</head>
	<body>
		<h1>Login to Ryze Search</h1>
		<div id="logo" title="Search Engine Logo">
			<canvas id="logo-c" width="432" height="345">
		</div>
		<form id="login_form" method="post" action="{% url 'login' %}" >
			{% csrf_token %}
			<p>
			Username: <input id="id_username" type="text" name="username" value="" size="50" required />
			<br />
			Password: <input id="id_password" type="password" name="password" value="" size="50" required />
			<br />
			</p>
			<input class="subbtn" type="submit" value="submit" />
		</form>
	</body>
</html>