<!DOCTYPE html>

<html>
	<head lang="en">
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../static/images/stylesheet.css" />
		<title>
		Register
		</title>
	</head>
	<body>
		<h1>Registration Page</h1>
		<div id="logo" title="Search Engine Logo">
			<canvas id="logo-c" width="432" height="345">
		</div>
		{% if registered %}
		<div class="registered">
			<strong>Thank you for registering!</strong>
			<a href="{% url 'index' %}">Return to the homepage.</a><br />
		</div>	
		{% else %}
			<form id="user_form" method="post" action="{% url 'register' %}"
				  enctype="multipart/form-data">
			{% csrf_token %}

			<!-- Display each form -->
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<!-- Provide a button to click to submit the form. -->
			<input class="regbtn2" type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
	</body>
</html>